@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Regular.tff") format("tff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Medium.tff") format("tff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-SemiBold.tff") format("tff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Bold.tff") format("tff");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "Raleway", sans-serif;
}
