:root {
  /* Font settings */
  --font-family: "Raleway", sans-serif;
  --font-size-small: 18px;
  --font-size-medium: 36px;
  --font-size-large: 48px;
  --font-size-xlarge: 144px;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --line-height-small: 21.13px;
  --line-height-medium: 42.26px;
  --line-height-large: 56.35px;
  --line-height-xlarge: 169.06px;

  /* Colors */
  --color-primary: #1e213a;
  --color-secondary: #100e1d;
  --color-tertiary: #e7e7eb;
  --color-action-primary: #e7e7eb;
  --color-action-secondary: #585676;
  --color-text-primary-dark: #88869d;
  --color-text-primary-light: #a09fb1;
  --color-text-secondary: #e7e7eb;
  --color-text-tertiary: #110e3c;

  /* Box shadow */
  --box-shadow: 0px 4px 4px 0px #00000040;

  /* Padding */
  --padding-size-medium: 40px;
  --padding-size-xlarge: 161px;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Regular.tff") format("tff");
  font-weight: var(--font-weight-regular);
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Medium.tff") format("tff");
  font-weight: var(--font-weight-medium);
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-SemiBold.tff") format("tff");
  font-weight: var(--font-weight-semibold);
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Bold.tff") format("tff");
  font-weight: var(--font-weight-bold);
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-family);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
svg {
  display: block;
  max-width: 100%;
}

input,
button {
  font: inherit;
}
