.skeleton {
  background-color: var(--color-skeleton);
  min-height: 2rem;
  border-radius: 0.2rem;
  position: relative;
  overflow: hidden;
}

.skeleton::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(106, 102, 111, 0.3),
    transparent
  );
  animation: skeleton-loading 1.5s infinite;
}

.skeleton__card {
  height: 10rem;
  margin-top: 2rem;
}

@keyframes skeleton-loading {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
