.weather-card {
  background-color: var(--color-primary);
  padding: 1.3125rem;
}

.weather-card__date,
.weather-card__temperature--max,
.weather-card__temperature--min {
  font-family: inherit;
  font-size: 1rem;
  font-weight: var(--font-weight-medium);
  line-height: var(--line-height-xsmall);
}

.weather-card__date {
  text-align: center;
  color: var(--color-action-primary);
}

.weather-card__image {
  width: 7.5rem;
  margin: auto;
}

.weather-card__temperature {
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
}

.weather-card__temperature--max {
  color: var(--color-action-primary);
}

.weather-card__temperature--min {
  color: var(--color-text-primary-light);
}
