.round-button {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

.round-button__icon {
  background-color: var(--color-action-ternary);
  color: var(--color-action-primary);
}

.round-button__icon img {
  width: 1.375rem;
}

.round-button__primary {
  font-family: var(--font-family);
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height-small);
  background: var(--color-action-secondary);
  color: var(--color-action-primary);
}

.round-button--active {
  background: var(--color-tertiary);
  color: var(--color-text-tertiary);
}
