.highlight-card {
  flex: 1;
  background-color: var(--color-primary);
  padding: 2rem;
}

.highlight-card__title,
.highlight-card__data,
.highlight-card__data span,
.highlight-card__other {
  font-family: inherit;
  font-weight: var(--font-weight-medium);
  color: var(--color-tertiary);
  text-align: center;
}

.highlight-card__title {
  width: 100%;
  font-size: 1rem;
  line-height: var(--line-height-xsmall);
  color: var(--color-tertiary);
}

.highlight-card__data {
  font-size: 4rem;
  font-weight: var(--font-weight-bold);
  line-height: 4.696rem;
  padding: 0.75rem 0;
}

.highlight-card__data span {
  font-size: 2.25rem;
  line-height: 2.641rem;
  margin-left: 0.375rem;
}

.highlight-card__other {
  font-size: 0.875rem;
  line-height: 1.0275rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.highlight-card__other--icon {
  width: 1.8125rem;
  height: 1.8125rem;
  border-radius: 50%;
  background-color: var(--color-action-ternary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlight-card__other--icon img {
  width: 1rem;
}

.highlight-card__range {
  width: 100%;
}

@media (max-width: 1023px) {
  .highlight-card {
    padding: 1rem;
  }

  .highlight-card__data {
    font-size: 2rem;
  }
}
