.sidebar {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: var(--font-size-medium);
}

.sidebar__form {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.sidebar__input,
.sidebar__search {
  height: 3rem;
}

.sidebar__input {
  flex: 1;
  position: relative;
  margin-bottom: var(--padding-size-medium);
}

.sidebar__input input {
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-tertiary);
  background-color: var(--color-primary);
  padding: 0 0.5rem 0 2.375rem;
  color: var(--color-tertiary);
}

.sidebar__input img {
  position: absolute;
  top: 50%;
  left: 0.75rem;
  width: 1.09375rem;
  transform: translateY(-50%);
}

.sidebar__search {
  width: 5.375rem;
  background: var(--color-search);
  color: var(--color-tertiary);
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
  line-height: var(--line-height-xsmall);
}

.close__trigger {
  background: transparent;
  width: 1.084375rem;
  position: absolute;
  right: 0;
  top: -1rem;
}
